<nb-card class="container">
  <nb-card-header>
    <h4>
      Application Section of the Plan
    </h4>
  </nb-card-header>
  <nb-card-body>
    <div>
      <div class="col-lg-12 bottom-margin">
        <div
          *ngFor="let parentQuestion of getCharacterizationQuestionsObject(this.categories.goals.acronym).parentQuestions; let i = index;">
          <div class="col-lg-12 row">
            <h5 class="bottom-margin padding-right"><b>{{parentQuestion.title}}</b>
              <nb-icon icon="info-outline" class="button-space"
                       [nbTooltip]="parentQuestion.instruction"
                       nbTooltipPlacement="right"
                       nbTooltipStatus="warning" nbButton status="warning"></nb-icon>
            </h5>
          </div>
          <div *ngFor="let question of parentQuestion.questions" style="padding-left: 10px"
               class="container col-lg-12">
            <label class="col-lg-12"><b>{{question.title}}</b>{{question.subTitle}}</label>

            <div *ngFor="let usabilityGoal of assessment.usabilityGoals" class="col-lg-12 bottom-margin">
                          <textarea *ngIf="isEqual(question.objectKey, usabilityGoal.attribute)"
                                    style="padding-left: 10px"
                                    [(ngModel)]="usabilityGoal.goal" rows="5"
                                    nbInput fullWidth shape="round"
                                    required="true"
                                    placeholder="Describe the goals here" ></textarea>
              <nb-checkbox *ngIf="isEqual(question.objectKey, usabilityGoal.attribute)"
                           [checked]="verifyGoalsCheckState(usabilityGoal)"
                           (checkedChange)="checkUsabilityGoal($event, usabilityGoal)"
                           style="padding-left: 20px; padding-top: 10px"
                           status="primary"  class="padding-right">Done
              </nb-checkbox>
            </div>
            <br>
            <hr class="solid">
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div>
      <button nbButton class="padding-right" (click)="onSubmit()" status="success">
        <b>SUBMIT</b>
      </button>
    </div>
  </nb-card-footer>
</nb-card>
