<div class='container'>
  <div class='col-lg-12'>
    <h3>
      Enter the Review Definitions
    </h3>
    <nb-card>
      <nb-card-header>Enter the code that was sent to your email in the field below:</nb-card-header>
      <nb-card-body class='example-items-col'>
        <label><b>Collaborator(s) email(s):</b></label>
            <div class='row col-lg-8 bottom-margin-light'>
              <input class='display-next'
                     fieldSize='large'
                     formControlName="email"
                     fullWidth
                     id='input-colab-email'
                     name='email'
                     nbInput
                     placeholder='Collaborator email address'>
            </div>
      </nb-card-body>
      <nb-card-footer>
        <div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
