<nb-card>
  <nb-card-header>
    <h4>Participant Section</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="col-lg-12 bottom-margin">
        <div
          *ngFor="let parentQuestion of getCharacterizationQuestionsObject(categories.participants.acronym).parentQuestions; let i = index;">
          <div class="col-lg-12 row">
            <label class="bottom-margin padding-right"><b>{{parentQuestion.title}}</b>
              <nb-icon *ngIf="!isNullOrUndefined(parentQuestion.instruction)" [nbTooltip]="parentQuestion.instruction"
                       class="button-space"
                       icon="info-outline"
                       nbButton
                       nbTooltipPlacement="right" nbTooltipStatus="warning" status="warning"></nb-icon>
            </label>
          </div>
          <div *ngIf="parentQuestion.key === 'PA-7'" class="bottom-margin-light">
            <input [(ngModel)]="assessment.participant.participantsQuantity" class="col-lg-3" fullWidth
                   nbInput placeholder="Enter the quantity"
                   required="true" style="padding-left: 10px" type="number">
            <nb-checkbox (checkedChange)="checkParticipantQuestion($event, parentQuestion.key)"
                         [checked]="verifyParticipantState(parentQuestion.key)"
                         class="padding-right"
                         status="primary" style="padding-left: 20px; padding-top: 10px">Done
            </nb-checkbox>
          </div>
          <div *ngIf="parentQuestion.key === 'PA-8'">
            <nb-select [(selected)]="assessment.participant.participationLocalType" placeholder="Not Selected"
                       style="padding-left: 10px">
              <nb-option value="P">IN PERSON</nb-option>
              <nb-option value="R">REMOTE</nb-option>
            </nb-select>
            <nb-checkbox (checkedChange)="checkParticipantQuestion($event, parentQuestion.key)"
                         [checked]="verifyParticipantState(parentQuestion.key)"
                         [disabled]="isNullOrUndefined(assessment.participant.participationLocalType)"
                         class="padding-right" status="primary"
                         style="padding-left: 20px; padding-top: 10px">Done
            </nb-checkbox>
          </div>
          <div *ngIf="parentQuestion.key === 'PA-9'" class="bottom-margin-light">
                      <textarea [(ngModel)]="assessment.participant.compensationDescription"
                                fullWidth nbInput placeholder="Describe the compesations here"
                                shape="round"
                                style="padding-left: 10px"></textarea>
            <nb-checkbox (checkedChange)="checkParticipantQuestion($event, parentQuestion.key)"
                         [checked]="verifyParticipantState(parentQuestion.key)"
                         class="padding-right"
                         status="primary" style="padding-left: 20px; padding-top: 10px">Done
            </nb-checkbox>
          </div>
          <div *ngIf="parentQuestion.key === 'PA-10'" class="bottom-margin-light">
                      <textarea [(ngModel)]="assessment.participant.criteria"
                                fullWidth nbInput placeholder="Describe the eligibility criteria here"
                                shape="round"
                                style="padding-left: 10px"></textarea>
            <nb-checkbox (checkedChange)="checkParticipantQuestion($event, parentQuestion.key)"
                         [checked]="verifyParticipantState(parentQuestion.key)"
                         class="padding-right"
                         status="primary" style="padding-left: 20px; padding-top: 10px">Done
            </nb-checkbox>
          </div>
          <div *ngIf="parentQuestion.key === 'PA-11'" class="bottom-margin-light">
            <nb-select [(selected)]="assessment.participant.hasCollectedInformation" class="bottom-margin-light" placeholder="Not Selected"
                       style="padding-left: 10px">
              <nb-option *ngFor="let option of genericSelectOptions.options"
                         [value]="option.value">{{option.label}}</nb-option>
            </nb-select>
            <textarea [(ngModel)]="assessment.participant.collectedInformationUse"
                      [disabled]="!assessment.participant.hasCollectedInformation" fullWidth nbInput
                      placeholder="Describes data usage here"
                      shape="round"
                      style="padding-left: 10px"></textarea>
            <nb-checkbox (checkedChange)="checkParticipantQuestion($event, parentQuestion.key)"
                         [checked]="verifyParticipantState(parentQuestion.key)"
                         [disabled]="isNullOrUndefined(assessment.participant.hasCollectedInformation)"
                         class="padding-right" status="primary"
                         style="padding-left: 20px; padding-top: 10px">Done
            </nb-checkbox>
          </div>
          <div *ngIf="parentQuestion.key === 'PA-12'" class="bottom-margin-light">
                      <textarea [(ngModel)]="assessment.participant.instructions"
                                fullWidth nbInput placeholder="Describes instructions here"
                                shape="round"
                                style="padding-left: 10px"></textarea>
            <nb-checkbox (checkedChange)="checkParticipantQuestion($event, parentQuestion.key)"
                         [checked]="verifyParticipantState(parentQuestion.key)"
                         class="padding-right"
                         status="primary" style="padding-left: 20px; padding-top: 10px">Done
            </nb-checkbox>
          </div>
          <div *ngIf="parentQuestion.key === 'PA-13'" [formGroup]='form' class="bottom-margin-light">
            <label *ngIf="hasNoQuestion()">N/A</label>
            <form class='container mt-3' formArrayName="questions">
              <section *ngFor='let question of questions.controls; let i = index;' [formGroupName]="i">
                <div class='row col-lg-8'>
                            <textarea class='display-next' formControlName="question"
                                      fullWidth
                                      id='input-edit-question'
                                      name='question'
                                      nbInput
                                      placeholder='New question'
                                      shape="round"></textarea>
                  <nb-icon (click)="open(deleteQuestionDialog)" class="display-next" icon="minus-circle-outline" nbButton
                           status="danger"></nb-icon>
                  <ng-template #deleteQuestionDialog let-data let-ref="dialogRef">
                    <nb-card accent="warning">
                      <nb-card-body>Do you really want to remove the question?</nb-card-body>
                      <nb-card-footer class="text-center">
                        <button (click)="removeQuestion(i);ref.close();" nbButton
                                status="success">YES
                        </button>
                        <button (click)="ref.close()" class="button-space" nbButton status="danger">NO
                        </button>
                      </nb-card-footer>
                    </nb-card>
                  </ng-template>
                </div>
              </section>
            </form>
            <button (click)='addQuestion()' class='top-margin' ghost nbButton shape='round' size='tiny'
                    status='success'>
              <nb-icon icon="plus-circle-outline"></nb-icon>
              Add Question
            </button>
            <nb-checkbox (checkedChange)="checkParticipantQuestion($event, parentQuestion.key)"
                         [checked]="verifyParticipantState(parentQuestion.key)"
                         [disabled]="hasNoQuestion()"
                         class="padding-right" status="primary"
                         style="padding-left: 20px; padding-top: 10px">Done
            </nb-checkbox>
          </div>
          <br>
          <hr class="solid">
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div>
      <button (click)="onSubmit()" class="padding-right" nbButton status="success">
        <b>SUBMIT</b>
      </button>
    </div>
  </nb-card-footer>
</nb-card>
