<nb-card>
  <nb-card-header>
    <h4>Data collection and Data analysis Section</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="col-lg-12 bottom-margin">
        <div
          *ngFor="let parentQuestion of getCharacterizationQuestionsObject(categories.data.acronym).parentQuestions; let i = index;">
          <div class="col-lg-12 row">
            <h4 class="bottom-margin padding-right"><b>{{parentQuestion.title}}</b>
              <nb-icon *ngIf="!isNullOrUndefined(parentQuestion.instruction)"
                       [nbTooltip]="parentQuestion.instruction" class="button-space"
                       icon="info-outline"
                       nbButton
                       nbTooltipPlacement="right" nbTooltipStatus="warning" status="warning"></nb-icon>
            </h4>
          </div>
          <div class="container col-lg-12">
            <div *ngIf="parentQuestion.key === 'DT-22'">
                        <textarea [(ngModel)]="assessment.assessmentData.dataCollectionProcedure"
                                  fullWidth nbInput
                                  placeholder="Describe the data collection procedure here" rows="5" shape="round"
                                  style="padding-left: 10px"></textarea>
              <nb-checkbox (checkedChange)="checkDataQuestion($event, parentQuestion.key)"
                           [checked]="verifyDataState(parentQuestion.key)"
                           class="padding-right"
                           status="primary" style="padding-left: 20px; padding-top: 10px">Done
              </nb-checkbox>
            </div>
            <div *ngIf="parentQuestion.key === 'DT-23'">
              <label>Description:</label>
              <textarea [(ngModel)]="assessment.assessmentData.analysisDescription"
                        fullWidth nbInput
                        placeholder="Describe how it will be analyzed here" rows="5" shape="round"
                        style="padding-left: 10px"></textarea>
              <nb-checkbox (checkedChange)="checkDataQuestion($event, parentQuestion.key)"
                           [checked]="verifyDataState(parentQuestion.key)"
                           class="padding-right"
                           status="primary" style="padding-left: 20px; padding-top: 10px">Done
              </nb-checkbox>
            </div>
            <div *ngIf="parentQuestion.key === 'DT-24'" class="col-lg-12 bottom-margin">
              <nb-radio-group [(ngModel)]="assessment.assessmentData.statisticalMethods"
                              class="row bottom-margin">
                <nb-radio
                  *ngFor="let option of genericSelectOptions.options"
                  [value]="option.value">
                  {{ option.label }}
                </nb-radio>
              </nb-radio-group>
              <div *ngIf="!isNullOrUndefinedOrFalse(assessment.assessmentData.statisticalMethods)">
                <label>Description:</label>
                <textarea [(ngModel)]="assessment.assessmentData.statisticalMethodsDescription"
                          [hidden]="!assessment.assessmentData.statisticalMethods" fullWidth
                          nbInput placeholder="Describe how will be conducted here" required="true"
                          rows="5"
                          shape="round"
                          style="padding-left: 10px"></textarea>
              </div>
              <nb-checkbox (checkedChange)="checkDataQuestion($event, parentQuestion.key)"
                           [checked]="verifyDataState(parentQuestion.key)"
                           class="padding-right"
                           status="primary" style="padding-left: 20px; padding-top: 10px">Done
              </nb-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div>
      <button (click)="onSubmit()" class="padding-right" nbButton status="success">
        <b>SUBMIT</b>
      </button>
    </div>
  </nb-card-footer>
</nb-card>
