<nb-card>
  <nb-card-header>
    <h4>Procedure Section</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="col-lg-12 bottom-margin">
        <div
          *ngFor="let parentQuestion of getCharacterizationQuestionsObject(categories.procedure.acronym).parentQuestions; let i = index;">
          <div class="col-lg-12 row">
            <h4 class="bottom-margin padding-right"><b>{{parentQuestion.title}}</b>
              <nb-icon *ngIf="!isNullOrUndefined(parentQuestion.instruction)"
                       [nbTooltip]="parentQuestion.instruction" class="button-space"
                       icon="info-outline"
                       nbButton
                       nbTooltipPlacement="right" nbTooltipStatus="warning" status="warning"></nb-icon>
            </h4>
          </div>
          <div *ngFor="let question of parentQuestion.questions" class="container col-lg-12"
               style="padding-left: 10px">
            <label class="col-lg-12"><b>{{question.title}}</b>{{question.subTitle}}
              <nb-icon *ngIf="!isNullOrUndefined(question.instruction)"
                       [nbTooltip]="question.instruction" class="button-space"
                       icon="info-outline"
                       nbButton
                       nbTooltipPlacement="right" nbTooltipStatus="warning" status="warning"></nb-icon>
            </label>
            <div *ngIf="question.key === 'PR-18-1'">
              <input [(ngModel)]="assessment.assessmentProcedure.occurDate" [nbDatepicker]="dateTimePicker" nbInput
                     placeholder="Pick Date">
              <nb-datepicker #dateTimePicker format="yyyy-MM-dd"></nb-datepicker>
              <nb-checkbox (checkedChange)="checkProcedureQuestion($event, question.key)"
                           [checked]="verifyProcedureState(question.key)"
                           class="padding-right"
                           status="primary" style="padding-left: 20px; padding-top: 10px">Done
              </nb-checkbox>
            </div>
            <div *ngIf="question.key === 'PR-18-2'">
                         <textarea [(ngModel)]="assessment.assessmentProcedure.occurLocal"
                                   fullWidth nbInput
                                   placeholder="Describe where it will take place here" required="true" rows="5"
                                   shape="round"
                                   style="padding-left: 10px"></textarea>
              <nb-checkbox (checkedChange)="checkProcedureQuestion($event, question.key)"
                           [checked]="verifyProcedureState(question.key)"
                           class="padding-right"
                           status="primary" style="padding-left: 20px; padding-top: 10px">Done
              </nb-checkbox>
            </div>
            <div *ngIf="question.key === 'PR-18-3'">
                         <textarea [(ngModel)]="assessment.assessmentProcedure.occurDetail"
                                   fullWidth nbInput
                                   placeholder="Describe how it will occur here" required="true" rows="5"
                                   shape="round"
                                   style="padding-left: 10px"></textarea>
              <nb-checkbox (checkedChange)="checkProcedureQuestion($event, question.key)"
                           [checked]="verifyProcedureState(question.key)"
                           class="padding-right"
                           status="primary" style="padding-left: 20px; padding-top: 10px">Done
              </nb-checkbox>
            </div>
            <div *ngIf="question.key === 'PR-18-4'">
                         <textarea [(ngModel)]="assessment.assessmentProcedure.occurTime"
                                   fullWidth nbInput
                                   placeholder="Describe how long it will take here" required="true" rows="5"
                                   shape="round"
                                   style="padding-left: 10px"></textarea>
              <nb-checkbox (checkedChange)="checkProcedureQuestion($event, question.key)"
                           [checked]="verifyProcedureState(question.key)"
                           class="padding-right"
                           status="primary" style="padding-left: 20px; padding-top: 10px">Done
              </nb-checkbox>
            </div>

            <br>
            <hr class="solid">
          </div>
          <div class="container col-lg-12">
            <div *ngIf="parentQuestion.key === 'PR-19'" [formGroup]="form" class="col-lg-12 bottom-margin">
              <form class='container mt-3' formArrayName="steps">
                <section *ngFor='let step of steps.controls; let i = index;' [formGroupName]="i">
                  <div class='row col-lg-12'>
                    <label>Step Title:</label>
                    <textarea class='display-next' formControlName="name" fullWidth
                              id='input-edit-step-name'
                              name='step-name'
                              nbInput
                              placeholder='Step title'
                              shape="round"
                              style="margin-bottom: 10px"></textarea>
                    <label>Step Description:</label>
                    <textarea class='display-next' formControlName="description"
                              fullWidth
                              id='input-edit-step-description'
                              name='step-description'
                              nbInput
                              placeholder='Step description'
                              shape="round"></textarea>
                    <nb-icon (click)="open(deleteStepDialog)" class="display-next" icon="minus-circle-outline" nbButton
                             status="danger"></nb-icon>
                    <ng-template #deleteStepDialog let-data let-ref="dialogRef">
                      <nb-card accent="warning">
                        <nb-card-body>Do you really want to remove the step?</nb-card-body>
                        <nb-card-footer class="text-center">
                          <button (click)="removeSteps(i);ref.close();" nbButton
                                  status="success">YES
                          </button>
                          <button (click)="ref.close()" class="button-space" nbButton status="danger">NO
                          </button>
                        </nb-card-footer>
                      </nb-card>
                    </ng-template>
                  </div>
                  <hr class="solid">
                </section>
              </form>
              <button (click)='addSteps()' ghost nbButton shape='round' size='tiny' status='success'
                      style="margin-bottom: 10px">
                <nb-icon icon="plus-circle-outline"></nb-icon>
                Add Step
              </button>
              <nb-checkbox (checkedChange)="checkProcedureQuestion($event, parentQuestion.key)"
                           [checked]="verifyProcedureState(parentQuestion.key)"
                           class="padding-right"
                           status="primary" style="padding-left: 20px; padding-top: 10px">Done
              </nb-checkbox>
            </div>
            <div *ngIf="parentQuestion.key === 'PR-20'" class="col-lg-12 bottom-margin">
              <nb-select [(selected)]="assessment.assessmentProcedure.questionsAllowed" placeholder="Not Selected"
                         style="padding-left: 10px">
                <nb-option *ngFor="let option of genericSelectOptions.options" [value]="option.value"
                >{{ option.label }}</nb-option>
              </nb-select>
              <nb-checkbox (checkedChange)="checkProcedureQuestion($event, parentQuestion.key)"
                           [checked]="verifyProcedureState(parentQuestion.key)"
                           class="padding-right"
                           status="primary" style="padding-left: 20px; padding-top: 10px">Done
              </nb-checkbox>
            </div>
            <div *ngIf="parentQuestion.key === 'PR-21'" class="col-lg-12 bottom-margin">
              <nb-radio-group [(ngModel)]="assessment.assessmentProcedure.isPilotAssessment"
                              class="row bottom-margin">
                <nb-radio
                  *ngFor="let option of genericSelectOptions.options"
                  [value]="option.value">
                  {{ option.label }}
                </nb-radio>
              </nb-radio-group>
              <div *ngIf="!isNullOrUndefinedOrFalse(assessment.assessmentProcedure.isPilotAssessment)">
                <label>Description:</label>
                <textarea [(ngModel)]="assessment.assessmentProcedure.pilotDescription"
                          [hidden]="!assessment.assessmentProcedure.isPilotAssessment" fullWidth
                          nbInput placeholder="Describe how will be conducted here" required="true"
                          rows="5"
                          shape="round"
                          style="padding-left: 10px"></textarea>
              </div>
              <nb-checkbox (checkedChange)="checkProcedureQuestion($event, parentQuestion.key)"
                           [checked]="verifyProcedureState(parentQuestion.key)"
                           class="padding-right"
                           status="primary" style="padding-left: 20px; padding-top: 10px">Done
              </nb-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div>
      <button (click)="onSubmit()" class="padding-right" nbButton status="success">
        <b>SUBMIT</b>
      </button>
    </div>
  </nb-card-footer>
</nb-card>
