<h1 id="title" class="title">Sign In</h1>

<form (ngSubmit)="signIn()" [formGroup]="form" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Email address or username:</label>
    <input nbInput
           fullWidth
           name="email"
           id="input-email"
           placeholder="Email address or username"
           autofocus
           formControlName="login"
           [status]="login.dirty ? (login.invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="login.invalid && login.touched ? true : null">
    <ng-container *ngIf="login.invalid && login.touched">
      <p class="caption status-danger" *ngIf="login.errors?.required">
        Field required!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput
           fullWidth
           name="password"
           type="password"
           formControlName="password"
           id="input-password"
           placeholder="Password"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="caption status-danger" *ngIf="password.errors?.required">
        Password is required!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox formControlName="rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
    <a class="forgot-password" routerLink="../request-password">Forgot Password?</a>
  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="!form.valid"
          type="submit"
  >
    Sign In
  </button>
</form>

<section class="another-action" aria-label="Register">
  Do not have an account? <a class="text-link" routerLink="../register">Sign Up</a>
</section>
