<div class="container">
  <div class="col-12">
    <h3>
      My Assessment Plans
    </h3>
    <nb-card  accent="sucess" [nbSpinner]="show" nbSpinnerSize="giant" nbSpinnerStatus="primary">
      <nb-card-body class="col-12">
        <!--        <button  nbButton hero status="primary" class="padding-right float-right" >Gerar Relatório-->
        <!--          <nb-icon icon="file-text-outline" class="button-space"></nb-icon>-->
        <!--        </button>-->
      </nb-card-body>
      <nb-card-body>
        <ng2-smart-table #table
                         [settings]="settings"
                         [source]="source"
                         (edit)="onEdit($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
