<div class="container">
  <div class="col-lg-12">
    <h3>
      Create new assessment
    </h3>
    <nb-card>
      <nb-card-header>What will be assessed?</nb-card-header>
      <nb-card-body class="example-items-col">
        <div class="row col-lg-12 bottom-margin">
          <label><b>Project name</b></label>
          <input type="text" nbInput fullWidth required="true" [(ngModel)]="newAssessment.projectName">
        </div>

        <div class="row col-lg-12 bottom-margin">
          <label><b>Project description</b></label>
          <textarea rows="5" nbInput fullWidth shape="round" required="true"
                    placeholder="Describe your project"
                    [(ngModel)]="newAssessment.projectDescription"></textarea>
        </div>
        <label *ngIf="hasCollaborator == true"><b>Collaborator(s) email(s):</b></label>
        <form *ngIf="hasCollaborator == true" #addressForm="ngForm" class="container mt-3">
          <section *ngFor="let email of emails; let i = index;">
            <div class="row col-lg-8">
              <input nbInput class="display-next"
                     [(ngModel)]="email.newEmail"
                     #email="ngModel"
                     id="input-email"
                     name="email"
                     pattern=".+@.+..+"
                     placeholder="Collaborator email address"
                     fullWidth
                     fieldSize="large"
                     [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
                     [required]="true"
                     [attr.aria-invalid]="email.invalid && email.touched ? true : null">
              <button nbButton ghost status="danger" class="display-next">
                <nb-icon icon="minus-circle-outline" (click)="removeEmail(i)"></nb-icon>
              </button>
            </div>
          </section>
        </form>
        <button nbButton outline shape="round" size="small" status="success" class="top-margin" (click)="addEmail()">
          Add
          Collaborator
        </button>
      </nb-card-body>
      <nb-card-footer>
        <div>
          <button nbButton status="success" class="padding-right"
                  [disabled]="!verifyAssessment()"
                  [class.btn-pulse]="isVald"
                  (click)="create()">
            <nb-icon icon="save-outline"></nb-icon>
            <b>CREATE</b>
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
