<button (click)='back()' nbButton ghost status='info'>
  <nb-icon icon='arrow-back-outline'></nb-icon>
  <b>BACK</b>
</button>
<nb-card>
  <nb-card-header style="display: flex" class="row">
    Express Planning
  </nb-card-header>
  <nb-card-body>
    <div style="display: flex" class="container row col-lg-12">
      <div class="col-lg-9">
        <p>A template in canvas dashboard format for researchers who wish to develop an express plan with the main
          characteristics of an usability evaluation of applications for smart cities.
          <br><br>
          The structure of the assessment plan is shown below:</p>
      </div>
      <div class="col-lg-3" style="display: flex; justify-content: flex-end">
        <button (click)='download()' class='padding-right bottom-margin'
                nbButton hero
                status='success'>
          <nb-icon icon='download-outline'></nb-icon>
          <b>DOWNLOAD EXPRESS PLAN</b>
        </button>
      </div>
    </div>
    <img style="display: flex;  max-width: 100%;
    max-height: 100%" src="assets/images/Dashboard.JPG">
  </nb-card-body>
</nb-card>
