.bottom-margin {
  margin-bottom: 30px;
}

.top-margin {
  margin-top: 30px;
}

.padding-right {
  float: right;
}

.vertical-center {
  margin: auto;
  width: 50%;
  float: left;
}

.teste {
  float: left;
}

nb-checkbox:not(:only-child) {
  margin-right: 1.5rem;
}
