<h1 id="title" class="title">Register</h1>

<form [formGroup]="form" (ngSubmit)="register()" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-name">Full name:</label>
    <input nbInput
           id="input-name"
           name="fullName"
           formControlName="name"
           placeholder="Full name"
           autofocus
           fullWidth
           fieldSize="large"
           [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : ''"
           [attr.aria-invalid]="name.invalid && name.touched ? true : null">
    <ng-container *ngIf="name.invalid && name.touched">
      <p class="caption status-danger" *ngIf="name.errors?.required">
        Full name is required!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-username">Username login:</label>
    <input nbInput
           id="input-username"
           name="username"
           formControlName="userName"
           placeholder="Username login"
           autofocus
           fullWidth
           fieldSize="large"
           [status]="userName.dirty ? (userName.invalid  ? 'danger' : 'success') : ''"
           [attr.aria-invalid]="userName.invalid && userName.touched ? true : null">
    <ng-container *ngIf="userName.invalid && userName.touched">
      <p class="caption status-danger" *ngIf="userName.errors?.required">
        Username login is required!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
           id="input-email"
           formControlName="email"
           name="email"
           pattern=".+@.+..+"
           placeholder="Email address"
           fullWidth
           fieldSize="large"
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="caption status-danger" *ngIf="email.errors?.required">
        Email is required!
      </p>
      <p class="caption status-danger" *ngIf="email.errors?.pattern">
        Email should be the real one!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput
           type="password"
           id="input-password"
           name="password"
           formControlName="password"
           placeholder="Password"
           fullWidth
           fieldSize="large"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="caption status-danger" *ngIf="password.errors?.required">
        Password is required!
      </p>
      <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        Password should contain at list 8 characters
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-re-password">Repeat password:</label>
    <input nbInput
           type="password"
           formControlName="confirmPassword"
           id="input-re-password"
           name="rePass"
           placeholder="Confirm Password"
           fullWidth
           fieldSize="large"
           [status]="confirmPassword.dirty ? (confirmPassword.invalid || password.value != confirmPassword.value  ? 'danger' : 'success') : ''"
           [attr.aria-invalid]="confirmPassword.invalid && confirmPassword.touched ? true : null">
    <ng-container *ngIf="confirmPassword.invalid && confirmPassword.touched">
      <p class="caption status-danger" *ngIf="confirmPassword.errors?.required">
        Password confirmation is required!
      </p>
      <p class="caption status-danger" *ngIf="password.value != confirmPassword.value && !confirmPassword.errors?.required">
        Password does not match the confirm password.
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-re-password">Are you a reviewer?</label>
    <nb-select placeholder="Select a option"
               id="input-reviewer"
               name="reviewer"
               formControlName="isReviewer"
               fullWidth
               fieldSize="large" required="true">
      <nb-option value="false">No</nb-option>
      <nb-option value="true">Yes</nb-option>
    </nb-select>
    <ng-container *ngIf="isReviewer.invalid && isReviewer.touched">
      <p class="caption status-danger" *ngIf="isReviewer.errors?.required">
        Perfil option is required!
      </p>
    </ng-container>
  </div>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="!isValid">
    Register
  </button>
</form>

<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="../login">Log in</a>
</section>
