<nb-card>
  <nb-card-header>
    <h4>Tasks and Materials Section</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="col-lg-12 bottom-margin">
        <div
          *ngFor="let parentQuestion of getCharacterizationQuestionsObject(categories.tasks.acronym).parentQuestions; let i = index;">
          <div class="col-lg-12 row">
            <label class="bottom-margin padding-right"><b>{{parentQuestion.title}}</b>
              <nb-icon *ngIf="!isNullOrUndefined(parentQuestion.instruction)" icon="info-outline"
                       class="button-space"
                       [nbTooltip]="parentQuestion.instruction"
                       nbTooltipPlacement="right"
                       nbTooltipStatus="warning" nbButton status="warning"></nb-icon>
            </label>
          </div>
          <div class="bottom-margin-light" *ngIf="parentQuestion.key === 'TM-14'">
            <nb-card [formGroup]='form'>
              <nb-card-body class="row">
                <label *ngIf="!checkIfToolsIsNotEmpty()">N/A</label>
                <form class='container mt-3' formArrayName="tools">
                  <section *ngFor='let tool of tools.controls; let i = index;' [formGroupName]="i">
                    <div class='row col-lg-8'>
                            <textarea nbInput class='display-next'
                                      id='input-edit-tool'
                                      name='tool'
                                      placeholder='New instruments, materials, technology, or tool'
                                      fullWidth
                                      shape="round"
                                      formControlName="tool"></textarea>
                      <nb-icon nbButton status="danger" class="display-next" icon="minus-circle-outline"
                               (click)="open(deleteToolDialog)"></nb-icon>
                      <ng-template #deleteToolDialog let-data let-ref="dialogRef">
                        <nb-card accent="warning">
                          <nb-card-body>Do you really want to remove the tool?</nb-card-body>
                          <nb-card-footer class="text-center">
                            <button nbButton status="success"
                                    (click)="removeTool(i);ref.close();">YES
                            </button>
                            <button nbButton status="danger" class="button-space" (click)="ref.close()">NO
                            </button>
                          </nb-card-footer>
                        </nb-card>
                      </ng-template>
                    </div>
                  </section>
                </form>
                <button nbButton ghost shape='round' size='tiny' status='success' class="top-margin"
                        (click)='addTools()' >
                  <nb-icon icon="plus-circle-outline"></nb-icon>
                  Add Tool
                </button>
              </nb-card-body>
            </nb-card>
            <span *ngIf="checkIfToolsIsNotEmpty()">
                         <label>Description:</label>
                      <textarea style="padding-left: 10px"
                                nbInput fullWidth shape="round"
                                [(ngModel)]="assessment.assessmentTools.toolsUsageDescription"
                                placeholder="Describe their usage here" ></textarea>
                      </span>
            <nb-checkbox [checked]="verifyMaterialsCheckState(parentQuestion.key)"
                         (checkedChange)="checkMaterial($event, parentQuestion.key)"
                         style="padding-left: 20px; padding-top: 10px"
                         status="primary"  class="padding-right">Done
            </nb-checkbox>
          </div>
          <div class="bottom-margin-light"
               *ngIf="parentQuestion.key === 'TM-15' || parentQuestion.key === 'TM-16'
                         || parentQuestion.key === 'TM-17'">
            <nb-card [formGroup]='form'>
              <nb-card-body class="row">
                <label *ngIf="!checkIfTasksIsNotEmpty()">N/A</label>
                <form class='container mt-3' formArrayName="tasks">
                  <section *ngFor='let task of tasks.controls; let i = index;' [formGroupName]="i">
                    <div *ngIf="parentQuestion.key === 'TM-15'" class='row col-lg-8'>
                                <textarea nbInput class='display-next'
                                          id='input-task-description'
                                          name='task-description'
                                          placeholder='Describe the task'
                                          fullWidth
                                          shape="round"
                                          formControlName="description"></textarea>
                      <nb-icon nbButton status="danger" class="display-next" icon="minus-circle-outline"
                               (click)="open(deleteTaskDialog)"></nb-icon>
                      <ng-template #deleteTaskDialog let-data let-ref="dialogRef">
                        <nb-card accent="warning">
                          <nb-card-body>Do you really want to remove the task?</nb-card-body>
                          <nb-card-footer class="text-center">
                            <button nbButton status="success"
                                    (click)="removeTask(i);ref.close();">YES
                            </button>
                            <button nbButton status="danger" class="button-space" (click)="ref.close()">NO
                            </button>
                          </nb-card-footer>
                        </nb-card>
                      </ng-template>
                    </div>
                    <div *ngIf="parentQuestion.key === 'TM-16'" class='row col-lg-12'>
                      <label>{{i + 1}}. {{getTaskDescription(i)}}</label>
                      <input nbInput class='display-next'
                             id='input-task-execution'
                             name='task-execution'
                             placeholder='Insert the task execution time (in minutes)'
                             fullWidth
                             formControlName="taskExecutionTime">
                    </div>
                    <div *ngIf="parentQuestion.key === 'TM-17'" class='row col-lg-12'>
                      <label>{{i + 1}}. {{getTaskDescription(i)}}</label>
                      <input nbInput class='display-next'
                             id='input-edit-task-acceptance-criteria'
                             name='task-acceptance-criteria'
                             placeholder='Insert the task acceptance criteria'
                             fullWidth
                             formControlName="acceptanceCriteria">
                    </div>
                  </section>
                </form>
                <button *ngIf="parentQuestion.key === 'TM-15'" nbButton ghost shape='round'
                        size='tiny' status='success' class="top-margin"
                        (click)='addTasks()' >
                  <nb-icon icon="plus-circle-outline"></nb-icon>
                  Add Task
                </button>
              </nb-card-body>
            </nb-card>
            <nb-checkbox [checked]="verifyMaterialsCheckState(parentQuestion.key)"
                         (checkedChange)="checkMaterial($event, parentQuestion.key)"
                         style="padding-left: 20px; padding-top: 10px"
                         status="primary"  class="padding-right">Done
            </nb-checkbox>
          </div>
          <br>
          <hr class="solid">
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div>
      <button nbButton class="padding-right" (click)="onSubmit()" status="success">
        <b>SUBMIT</b>
      </button>
    </div>
  </nb-card-footer>
</nb-card>
